[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Mm]emoryCaptures/
[Oo]bj/
[Rr]ubbish/
[Tt]emp/
[Vv]ideoCapture/
desktop.ini
.gradle
.vs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
# Exceptions
!*.dll
!*.obj